/** Defaults and Structure
 -------------------------------------------------- */
#cf-header {
	border-bottom: 1px solid #dfdfdf;
	margin-bottom: 1.5em;
	position: relative;
	width: 100%;
}
#cf-header h2 {
	padding-bottom: 16px;
}
#cf {
	margin-bottom: 2em;
}
#cf h2,
#cf h3 {
	margin: 2em 0 1em 0;
	padding: 0;
}
#cf hr {
	border: 0;
	border-top: 1px solid #dfdfdf;
	height: 1px;
	margin: 1.5em 0;
}

/** Navigation Tabs
 -------------------------------------------------- */
.cf-nav-tabs {
	list-style-type: none;
	margin: 0px 10px 0 10px;
}
.cf-nav-tabs li,
.cf-nav-tabs a {
	float: left;
	margin: 0;
}
.cf-nav-tabs a {
	display: block;
	color: #999;
	background-color: #efefef;
	border: 1px solid #e1e1e1;
	border-bottom: 0;
	font-family: Georgia, Times, serif;
	font-size: 14px;
	padding: 6px 10px 5px 10px;
	margin-bottom: 1px;
	margin-right: 4px;
	text-decoration: none;
	text-shadow: #fff 0 1px 1px;
	-moz-border-radius-topleft: 5px;
	-webkit-border-top-left-radius: 5px;
	-khtml-border-top-left-radius: 5px;
	border-top-left-radius: 5px;
	-moz-border-radius-topright: 5px;
	-webkit-border-top-right-radius: 5px;
	-khtml-border-top-right-radius: 5px;
	border-top-right-radius: 5px;
	
}
.cf-nav-tabs a:hover {
	color: #777;
}
.cf-nav-tabs a.current {
	background: url('../img/tab-bg.gif') 0 0 repeat-x;
	border: 1px solid #c7c7c7;
	border-bottom: 0;
	color: #333;
	margin-bottom: 0;
	padding-bottom: 6px;
}


/** Form Elements
 -------------------------------------------------- */
#cf fieldset {
	margin: 1em 0;
}
#cf legend {
	font-size: 14px;
	font-weight: bold;
	padding-bottom: 5px;
}
/* overwrite default WP spacing for this class */
#cf p.submit {
	margin: 12px 0 0 0;
	padding: 0;
}

/* wrapper for labels and form elements */
#cf .cf-elm-block {
	clear: both;
	margin: 3px 0;
	padding: 3px 5px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
#cf form .cf-elm-block:hover {
	background-color: #f3f3f3;
}
#cf form .cf-elm-block.no-hover,
#cf form .no-hover .cf-elm-block:hover {
	background: none;
}
#cf .cf-elm-block.active {
	background-color: #eee;
}

#cf .cf-elm-date,
#cf .cf-elm-readonly,
#cf .cf-elm-hidden,
#cf .cf-elm-text,
#cf .cf-elm-password,
#cf .cf-elm-select,
#cf .cf-elm-textarea {
	font-size: 12px;
	padding: 3px;
}

#cf .cf-elm-help {
	color: #888;
}
#cf .cf-elm-help.cf-elm-align-bottom {
	display: block;
	padding-left: 20%;
}

#cf span.cf-elm-checkbox,
#cf span.cf-elm-flag,
#cf span.cf-elm-date,
#cf span.cf-elm-readonly,
#cf span.cf-elm-hidden,
#cf span.cf-elm-text,
#cf span.cf-elm-password,
#cf span.cf-elm-select,
#cf div.cf-elm-textarea {
	padding: 3px 0;
}

#cf span.cf-elm-checkbox,
#cf span.cf-elm-flag,
#cf label.cf-lbl-checkbox,
#cf label.cf-lbl-flag,
#cf label.cf-lbl-radio {
	color: #333;
	font-size: 12px;
}
#cf .view label.cf-lbl-checkbox,
#cf .view label.cf-lbl-flag,
#cf .view label.cf-lbl-radio {
	color: #555;
	font-size: 11px;
}

#cf .cf-lbl-pos-top .cf-lbl-date,
#cf .cf-lbl-pos-top .cf-lbl-readonly,
#cf .cf-lbl-pos-top .cf-lbl-hidden,
#cf .cf-lbl-pos-top .cf-lbl-text,
#cf .cf-lbl-pos-top .cf-lbl-textarea,
#cf .cf-lbl-pos-top .cf-lbl-select,
#cf .cf-lbl-pos-top .cf-lbl-password {
	display: block;
}
#cf .cf-lbl-pos-top label.cf-lbl-checkbox,
#cf .cf-lbl-pos-top label.cf-lbl-flag,
#cf .cf-lbl-pos-top label.cf-lbl-radio {
	cursor: pointer;
	display: inline;
}

#cf .cf-lbl-pos-left .cf-elm-block {
	clear: both;
}
#cf .cf-lbl-pos-left label,
#cf .cf-lbl-pos-left .view label.cf-lbl-checkbox,
#cf .cf-lbl-pos-left .view label.cf-lbl-flag,
#cf .cf-lbl-pos-left .view label.cf-lbl-radio {
	width: 20%; /* needs to match .cf-lbl-left .cf-elm-* margin-left */
	float: left;
}
#cf .cf-lbl-pos-left label, 
#cf .cf-lbl-pos-left span.view {
	padding-top: 3px;
}
#cf .cf-lbl-pos-left span.view {
	display: inline-block;
}
#cf .cf-lbl-pos-left label.cf-lbl-checkbox,
#cf .cf-lbl-pos-left label.cf-lbl-flag,
#cf .cf-lbl-pos-left label.cf-lbl-radio {
	width: auto;
	padding-top: 0;
	float: none;
}
#cf .cf-lbl-pos-left .cf-elm-checkbox,
#cf .cf-lbl-pos-left .cf-elm-flag,
#cf .cf-lbl-pos-left .cf-elm-radio {
	margin-left: 20%; /* needs to match .cf-lbl-left .cf-lbl-* width */
}
/* remainging labels left for view only */
#cf .cf-lbl-pos-left .view label.cf-lbl-checkbox,
#cf .cf-lbl-pos-left .view label.cf-lbl-flag,
#cf .cf-lbl-pos-left .view label.cf-lbl-radio {
	color: #555;
	font-size: 11px;
	padding-top: 3px;
}

/* Set form element width's */
#cf .cf-elm-width-300 .cf-elm-text,
#cf .cf-elm-width-300 .cf-elm-password,
#cf .cf-elm-width-300 .cf-elm-textarea {
	width: 300px;
}
#cf .cf-elm-width-500 .cf-elm-text,
#cf .cf-elm-width-500 .cf-elm-password,
#cf .cf-elm-width-500 .cf-elm-textarea {
	width: 500px;
}
#cf .cf-elm-width-200 .cf-elm-text,
#cf .cf-elm-width-200 .cf-elm-password,
#cf .cf-elm-width-200 .cf-elm-textarea {
	width: 200px;
}
#cf .cf-elm-width-50 .cf-elm-text,
#cf .cf-elm-width-50 .cf-elm-password,
#cf .cf-elm-width-50 .cf-elm-textarea {
	width: 40px;
}
#cf .cf-elm-width-100 .cf-elm-text,
#cf .cf-elm-width-100 .cf-elm-password,
#cf .cf-elm-width-100 .cf-elm-textarea {
	width: 100px;
}
#cf .cf-elm-width-full .cf-elm-text,
#cf .cf-elm-width-full .cf-elm-password,
#cf .cf-elm-width-full .cf-elm-textarea {
	/**
	 * Box model CSS3 change
	 * @see http://www.quirksmode.org/css/box.html
	 * Additional workaround in IE7.css
	 */
	-moz-box-sizing: border-box; /* FF1+ */
	-webkit-box-sizing: border-box; /* Saf3+ */
	box-sizing: border-box; /* Standard. Opera7+, IE8+ */
	width: 99%;
}
#cf .cf-lbl-pos-left .cf-elm-width-full .cf-elm-text,
#cf .cf-lbl-pos-left .cf-elm-width-full .cf-elm-password,
#cf .cf-lbl-pos-left .cf-elm-width-full .cf-elm-textarea {
	width: 69%;
}
/* Set form element heights (textarea) */
#cf .cf-elm-height-60 .cf-elm-textarea {
	height: 60px;
}
#cf .cf-elm-height-100 .cf-elm-textarea {
	height: 100px;
}
#cf .cf-elm-height-500 .cf-elm-textarea {
	height: 500px;
}

/* checkbox and radio lists */
#cf .cf-lbl-checkbox-group,
#cf .cf-lbl-radio-group {
	font-size: 1em;
}
#cf .cf-lbl-pos-left .cf-lbl-checkbox-group,
#cf .cf-lbl-pos-left .cf-lbl-radio-group {
	width: 20%; /* needs to match .cf-lbl-left .cf-elm-* margin-left */
	float: left;
}
#cf p.cf-lbl-checkbox-group,
#cf p.cf-lbl-radio-group {
	margin: 1px 0;
}
#cf .cf-has-checkbox ul,
#cf .cf-has-radio ul {
	list-style-type: none;
	margin-left: 0;
}
#cf .cf-lbl-pos-left .cf-has-radio ul,
#cf .cf-lbl-pos-left .cf-has-checkbox ul {
	margin-left: 20%;
	margin-top: 2px;
}
#cf .cf-lbl-pos-left .cf-has-radio ul .cf-elm-radio,
#cf .cf-lbl-pos-left .cf-has-checkbox ul .cf-elm-checkbox {
	margin-left: 0;
}

#cf .cf-lbl-hide label,
#cf label.cf-lbl-hide {
	display: none;
}

/* notifications */
.cf-error { 
	background: #ffebe8; 
	color: #8a1f11;
}
.cf-notice { 
	background: #ffffe0;
	color:#514721;
}
.cf-success {
	background: #e4ffc9 !important;
	color: #264409;
}


/** Credits and Support Callouts
 -------------------------------------------------- */
#cf-callouts {
	border-top: 1px solid #dfdfdf;
	float: left;
	margin: 18px 15px 0 0;
}
.cf-callout,
#cf .cf-callout {
	float: left;
	margin-top: 18px;
	width: 50%;
}
.cf-box-title,
#cf .cf-box-title {
	background: #193542 url('../img/box-sprite.png') 0 0 repeat-x;
	border-bottom: 1px solid #0C1A21;
}
#cf-callout-credit {
	margin-right: 9px;
}
/* TODO - replace with ad widget
#cf-callout-support {
	margin-left: 9px;
}
#cf-callout-support .cf-box-title {
	background: #8D2929 url('../img/box-sprite.png') 0 -200px repeat-x;
	border-bottom: 1px solid #461414;
}
*/
/* General cf-box styles */
.cf-box,
#cf .cf-box { 
	background: #EFEFEF url('../img/box-sprite.png ') 0 -400px repeat-x;
	border: 1px solid #E3E3E3;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
}
.cf-box .cf-box-title,
#cf .cf-box-title {
	color: #fff;
	font-size: 14px;
	font-weight: normal;
	padding: 6px 15px;
	margin: 0 0 12px 0;
	-moz-border-radius-topleft: 5px;
	-webkit-border-top-left-radius: 5px;
	-khtml-border-top-left-radius: 5px;
	border-top-left-radius: 5px;
	-moz-border-radius-topright: 5px;
	-webkit-border-top-right-radius: 5px;
	-khtml-border-top-right-radius: 5px;
	border-top-right-radius: 5px;
	text-align: center;
	text-shadow: #333 0 1px 1px;
}
.cf-box .cf-box-title a {
	display: block;
	color: #fff;
}
.cf-box .cf-box-title a:hover {
	color: #E1E1E1;
}
.cf-box .cf-box-content {
	margin: 0 15px 15px 15px;
}
