/* --------------------------------------------------
  			Standard Utility Classes
-------------------------------------------------- */

/* Hiding
-------------------------------------------------- */
.cf-hidden {
	display: none;
}
.cf-invisible {
	visibility: hidden;
}
.cf-dim {
	opacity: 0.5;
	filter:alpha(opacity=50);
}

/* Clearing
-------------------------------------------------- */
/* Clearing floats without extra markup [http: //www.positioniseverything.net/easyclearing.html] */
.cf-clearfix {
	display: block;
}
.cf-clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.cf-clear {
	clear: both;
	float: none;
	height: 1px;
}

/* Display
-------------------------------------------------- */
.cf-block {
	display: block;
}
.cf-inline {
	display: inline;
}

/* Alignment/Layout
-------------------------------------------------- */
.cf-txt-left {
	text-align: left;
}
.cf-txt-right {
	text-align: right;
}
.cf-txt-center {
	text-align: center;
}

.cf-flt-left {
	float: left;
}
.cf-flt-right {
	float: right;
}
.cf-no-wrap {
	white-space: nowrap;
}

/* Links
-------------------------------------------------- */
.cf-lnk-remove,
.cf-lnk-delete {
	color: #bc0b0b;
}
.cf-lnk-remove:hover,
.cf-lnk-delete:hover {
	color: #ff0000;
}

/* Margins/Padding
-------------------------------------------------- */
.cf-mar-none {
	margin: 0;
}
.cf-mar-bottom-none {
	margin-bottom: 0;
}
.cf-mar-bottom-single {
	margin-bottom: 15px;
}
.cf-mar-bottom-double {
	margin-bottom: 30px;
}
.cf-mar-top-none {
	margin-top: 0 !important;
}
.cf-mar-top-single {
	margin-top: 15px;
}
.cf-mar-top-double {
	margin-top: 30px;
}
.cf-mar-left-single {
	margin-left: 15px;
}
.cf-mar-right-single {
	margin-right: 15px;
}

.cf-pad-none {
	padding: 0;
}
.cf-pad-single {
	padding: 15px;
}
.cf-pad-double {
	padding: 30px;
}
.cf-pad-bottom-none {
	padding-bottom: 0;
}
.cf-pad-bottom-single {
	padding-bottom: 15px;
}
.cf-pad-bottom-double {
	padding-bottom: 30px;
}
.cf-pad-top-none {
	padding-top: 0;
}
.cf-pad-top-single {
	padding-top: 15px;
}
.cf-pad-top-double {
	padding-top: 30px;
}

/* Borders
-------------------------------------------------- */
.cf-bdr-top {
	border-top: 1px solid #ccc;
}
.cf-bdr-btm {
	border-bottom: 1px solid #ccc;
}

/* Typography
-------------------------------------------------- */
.cf-typ-intro {
	font-size:14px;
}
.cf-typ-caps {
	font-size: 0.9em;
	letter-spacing: 1px;
	text-transform: uppercase;
}
.cf-typ-small {
	font-size: 11px;
	line-height: 1.4em;
}
.cf-typ-x-small {
	font-size: 10px;
	line-height: 1.4em;
}
.cf-typ-xx-small {
	font-size: 9px;
	line-height: 1.4em;
}
.cf-typ-quiet {
	color: #999;
}

/* List Styles
-------------------------------------------------- */
.cf-lst-none {
	list-style-type: none;
	margin-left: 0;
}
.cf-lst-inline li {
	display: inline-block;
}
dl.cf-lst-inline dt,
dl.cf-lst-inline dd {
	display: inline;
}
dl.cf-lst-inline dd {
	margin: 0 10px 0 0;
	padding: 0;
}
